@model Servicify.Models.AvailableTimeViewModel

<link rel="stylesheet" href="~/css/formOnline-style.css">
<link rel="stylesheet" href="~/css/global.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="services__info">
    <div class="info__content">
        <div class="services__info-title">
            @Model.Name
        </div>

        <div class="services__price">
            @Model.Duration мин.
            <br>
            Дата: @Model.Date
            <br>
            Время: @Model.Time
        </div>

        <button class="services__button" data-available-time-id="@Model.Id" data-service-id="@Model.ServiceId">Записаться</button>
    </div>
</div>


<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Форма записи</h5>
                <h5 class="modal-title" id="success-message" style="display: none;">Вы успешно записаны!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="firstNameInput">Имя:</label>
                <input type="text" id="firstNameInput" />

                <label for="lastNameInput">Фамилия:</label>
                <input type="text" id="lastNameInput" />

                <label for="emailInput">Email:</label>
                <input type="text" id="emailInput" />

                <label for="phoneNumberInput">Номер телефона:</label>
                <input type="text" id="phoneNumberInput" />

                <input type="hidden" id="availableTimeIdInput" value="@Model.Id" />
                <input type="hidden" id="serviceIdInput" value="@Model.ServiceId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="submitBookingForm()">Записаться</button>
            </div>
        </div>
    </div>
</div>
<script>
    function submitBookingForm() {
        var availableTimeId = $("#availableTimeIdInput").val();
        var serviceId = $("#serviceIdInput").val();
        var firstName = $("#firstNameInput").val();
        var lastName = $("#lastNameInput").val();
        var email = $("#emailInput").val();
        var phoneNumber = $("#phoneNumberInput").val();

        var requestData = {
            AvailableTimeId: availableTimeId,
            ServiceId: serviceId,
            FirstName: firstName,
            LastName: lastName,
            Email: email,
            PhoneNumber: phoneNumber
        };

        // Отправка данных на сервер с использованием AJAX
        $.ajax({
            url: '/appointment/create', // Замените на реальный путь к вашему методу контроллера
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function (response) {
                // Обработка успешного ответа от сервера
                console.log('Success:', response);
                $("#success-message").show();
                        // Скрыть форму, если требуется
                $(".modal-body").hide();
                $(".btn-primary").hide();
                $("#bookingModalLabel").hide();
                // После успешной обработки закройте модальное окно
                //$("#bookingModal").modal("hide");
            },
            error: function (error) {
                // Обработка ошибок
                console.log('Error:', error);
            }
        });
    }
</script>

<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".services__button").click(function (e) {
            e.preventDefault();
            // Заполнение модального окна данными
            var availableTimeId = $(this).data('available-time-id');
            var serviceId = $(this).data('service-id');

            $("#bookingModal #availableTimeIdInput").val(availableTimeId);
            $("#bookingModal #serviceIdInput").val(serviceId);

            // Открытие модального окна
            $('#bookingModal').modal('show');
        });
    });
</script>
